@model KiMang.COURS

@{
    ViewBag.Title = "Delete";
}

<h3>Delete Course</h3>

<p>Are you sure you want to delete this?</p>
<div>

    <hr />
    <div class="form-group d-flex">
        <div class=" ts col-6">
            @Html.Label("Course ID :", htmlAttributes: new { @class = "control-label  col-md-3" })

            @Html.EditorFor(model => model.COURSE_ID, new { htmlAttributes = new { @class = "col-md-8 ts", disabled = "disabled" } })
            @Html.ValidationMessageFor(model => model. COURSE_ID, "", new { @class = "text-danger" })
        </div>
        <div class="ts ts col-6">
            @Html.Label("Course Name:", htmlAttributes: new { @class = "control-label   col-md-3" })

            @Html.EditorFor(model => model.COURSE_Desc, new { htmlAttributes = new { @class = "col-md-8 ts", disabled = "disabled" } })
            @Html.ValidationMessageFor(model => model.COURSE_Desc, "", new { @class = "text-danger" })
        </div>



    </div>
    <div class="ts ts col-6">
        @Html.LabelFor(model => model.Dept_ID, "Department", htmlAttributes: new { @class = "control-label col-md-3" })
        @Html.DropDownList("Dept_Id", ViewBag.DEPARTMENTs as IEnumerable<SelectListItem>, "Select Dept", new { @class = "col-md-8 ts select", disabled = "disabled" })
        @Html.ValidationMessageFor(model => model.Dept_ID, "", new { @class = "text-danger " })
    </div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <br />
         <div class="form-group">
        <div class="col-md-offset-2 pr">
            <input type="submit" value="Back to List" onclick="location.href='/'" class=" btn btn-danger">
            <input type="submit" value="Save" class=" btn btn-success">

        </div>
    </div>
    }
</div>