@model IEnumerable<KiMang.APPLICATION_CONFIGURATION>

@{
    ViewBag.Title = "List";
}

<div class="container">
    <h3 class="col-dm-4">Application Configurations</h3>
    <p class="pr">
        @using (Html.BeginForm())
        {
            <input type="button"
                   value="Create Course"
                   onclick="location.href='Create' " class="pr btn btn-success" />
        }

    </p>

    <hr />
    <div class="row container-table">
        <table class="table table-striped col-12">
            <tr>
                <th>
                    @Html.DisplayName("Configuration ID")
                </th>
                <th>
                    @Html.DisplayName("Configuration Value")
                </th>
                <th>
                    @Html.DisplayName("Action")
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CONFIG_ID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CONFIG_VALUE)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.CONFIG_ID }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.CONFIG_ID })
                    </td>
                </tr>
            }

        </table>

    </div>
</div>